.App {
  padding: 30px;
  text-align: center;
}

.button {
  background-color: antiquewhite;
}

.label {
  font-weight: bold;
}

.input {
  height: 25px;
}

.label-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.book-register {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filterable-book-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
